
                body{

                    background-color: #8BA1BB;
                    font-family: Arial, Helvetica, sans-serif;
                    margin: 0;

                }
    

                p.categorie{
            
                    background-color: black;
                    color: aliceblue;
                    display: inline-block;
                
                    margin-top: 0;
                    padding: 8px 18px;
                    margin-bottom: 12px;
                    font-weight: bold;
                    font-size: 16px;
                }
                div.categorie{
                    margin-bottom: 0;
                    margin-top: 0;
                    
                }
            
                p.description{
                    text-align: center;
                    max-width: 400px;
                    font-size: 14px;
                    
                    display: inline-block;
                }
            
                div.contenu{
                    text-align: center;
                    background-color: aliceblue;
                    margin: 60px 10% 80px 10%;
                    padding: 0 30px 30px 30px;
                    min-width: 350px;
                    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
                    overflow: visible;
                   
                }
                .centre{
                    text-align: center; 
                     width: 100%;
                    
                }
            

                h1{
                    text-align: center;
                    display: inline-block; 
                    margin-bottom: 12px; 
                    margin-top: 10px; 

                }

                div.separateur{
                    height: 1px;
                    width: 100px;
                    background-color: black;
                    text-align: center;
                    margin : auto;
                    
                }
                div.infos{
                    position: relative
                }
                table.infos{
                    position: absolute; 
                    bottom: 0px; 
                    width: 100%;
                    color: white;
                    background-color: #6C829DC0;
                    height: 80px;
                }
                table.infos td{
                    text-align: center;
                    font-size: 14px;
                    vertical-align: top;

                }
                table.infos th{
                    
                    font-size: 16px;
                    vertical-align: bottom;
                    padding: 8px;
                }   

                img.info{
                    display: block;
                    max-height: 400px;
                    object-fit: cover;
                }
                div.colonne{
                    width: 45%;
                }
                div.colonne h2{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 15px;
                    margin-top: 20px;
                    border-bottom: 5px solid #6C829D ;
                    padding-bottom: 5px;
                }
                div.colonne1{
                    
                    display: inline-block;
                    margin-right: 10%;

                }
                div.colonne2{
                    float: right;

                }
                div.l1 p{
                    border: 1px solid lightgrey;
                    text-align: center;
                    font-size: 14px;
                    padding: 8px 0;
                    margin-top: 4px;
                    margin-bottom: 0;
                }
                table.preparation p.num{
                    background-color: #6C829D;
                    color: white;
                    width: 25px;
                    height: 25px;
                    font-size: 14px;
                    font-weight: bold;
                    padding-top: 5px;
                    box-sizing: border-box;
                    border-radius: 50%;
                    text-align: center ;
                    margin: 0;
                    
                }
                table.preparation td{
                    vertical-align: top;
                }
               
                table.preparation td.preparation_etape{
                    font-size: 14px;
                    padding-left: 10px;
                    padding-bottom: 10px;
                }
                table.preparation tr{
                    height: 40px;
                }
                * {
                    overflow: auto;
                }
                    
                
